body {
    font-family: "Epilogue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    width: 80%;
    max-width: 1440px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #03045E;
    border-radius: 5px;
    margin-bottom: 20px;
} 

.header div {
    display: flex;
    align-items: center;
}

.header .menu-icon {
    width: 24px;
    height: 24px;
    background-color: #1D1B20;
    border-radius: 3px;
}

.header .title {
    color: white;
    font-size: 25px;
    font-weight: 400;
    text-align: right;
    font-family: "Epilogue-Bold", sans-serif;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    text-align: center;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #AAAAAA;
    font-size: 20px;
}

.table th {
    background-color: #f5f5f5;
}

.button {
    padding: 10px 50px;
    background-color: rgba(255, 255, 255, 0.94);
    box-shadow: 0px 2px 1px rgba(170, 170, 170, 0.25);
    border-radius: 5px;
    border: 1px #AAAAAA solid;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.button .text {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.button-save {
    margin-right: 20px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/* Notifikasi container */
.notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: none;
    background-color: rgba(0, 0, 0, 0.5); /* Background gelap */
    width: 100%;
    height: 100vh; /* Mengambil seluruh layar */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container notifikasi */
.notification .container {
    width: 461px;
    background: white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    position: relative;
    padding: 40px 20px 20px; /* Padding yang lebih besar untuk memberi ruang di atas dan bawah */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Ikon centering */
.notification .check-icon {
    width: 89.68px;
    height: 89.68px;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border: 2px #0ED100 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Memberi jarak antara ikon dan pesan */
}

.notification .checkmark {
    width: 45px;
    height: 30px;
    position: absolute;
    top: 21%;
    left: 45%;
}

.notification .checkmark::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 4.5px;
    width: 30px;
    height: 8px;
    background: #0ED100;
    transform: rotate(35deg);
    transform-origin: left top;
}

.notification .checkmark::after {
    content: '';
    position: absolute;
    top: 35px;
    left: 21px;
    width: 53px;
    height: 8px;
    background: #0ED100;
    transform: rotate(-55deg);
    transform-origin: left top;
}

/* Pesan sukses */
.notification .success-message {
    color: black;
    font-size: 25px;
    font-family: Epilogue, sans-serif;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px; /* Memberi jarak antara pesan dan tombol */
}

/* Tombol Yes */
.notification .button {
    width: 120px;
    height: 39px;
    background: rgba(255, 255, 255, 0.94);
    box-shadow: 0px 2px 1px rgba(170, 170, 170, 0.25);
    border-radius: 5px;
    border: 1px #AAAAAA solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px; /* Memberi jarak antara tombol dan pesan */
}

.notification .button div {
    color: black;
    font-size: 20px;
    font-family: Epilogue, sans-serif;
    font-weight: 400;
    line-height: 28px;
}