<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html, charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style-nilai.css}">
    <title>Bobot Dosen</title>
</head>
<body>
    <header class="header">
        <div class="menu-icon"><a href=""><img th:src="@{/images/logo-sista.png}" class="logo"></a></div>
        <div class="title">Pengaturan Bobot Dosen</div>
    </header>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Dosen</th>
                    <th>Bobot</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><button><img src="/images/icon_delete.png" class="deleteBtn"></button></td>
                    <td>20%</td>
                    <td>15%</td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                </tr>
            <tbody>
        </table>
        <div class="right-btn">
            <button>Save</button>
            <button>Edit Bobot Dosen</button>
        </div>
    </div>
</body>
</html>