<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html, charset=UTF-8">
  <title>Catatan Revisi</title>
  <link rel="stylesheet" th:href="@{/css/style-catatan.css}">
</head>
<body>
  <header class="header">
    <div class="menu-icon"><a href=""><img th:src="@{/images/logo-sista.png}" class="logo"></a></div>
    <div class="title">Catatan Revisi</div>
  </header>
  
  <div class="container">
    <div class="content">
      <div class="text-area-container">
        <textarea id="textArea" class="input-box" placeholder="Input Here" disabled></textarea>
        <div class="buttons-container">
          <a class="button" id="editButton">Edit</a>
          <a class="button" id="saveButton">Save</a>
        </div>
      </div>
    </div> 
  </div>

  <!-- Popup -->
  <div id="popup" class="popup hidden">
    <div class="popup-content">
      <img th:src="@{/images/green-mark.png}" alt="Check Mark" class="check-image">
      <p>Data Berhasil Disimpan</p>
      <button id="closePopup">Yes</button>
    </div>
  </div>
  
  <script th:src="@{/js/script.js}"></script>
</body>
</html>