<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, charset=UTF-8">
  <title>Mendaftarkan Sidang</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <header class="header">
        <div class="menu-icon"><a href=""><img th:src="@{/images/logo-sista.png}" class="logo"></a></div>
        <div class="title">Mendaftarkan Sidang</div>
    </header>
  
    <div class="container">
        <form class="form" th:action="@{/sista/dosen/daftarSidang}" method="POST" th:object="${sidangTA}">
            <div class="form_group">
                <label>Nama Peserta</label>
                <input type="text" class="form_control" name="nama" required>
            </div>
            <div class="form_group">
              <label>Nomor Pokok Mahasiswa</label>
              <input type="text" class="form_control" name="npm" required>
            </div>
            <div class="form_group">
              <label>Judul Tugas Akhir</label>
              <input type="text" class="form_control" name="judulTA" required>
            </div>
            <div class="form_group">
              <label>Jenis Tugas Akhir</label>
              <div class="radio_group">
                <label><input type="radio" class="form_control" name="jenisTA" value=1>1</label>
                <label><input type="radio" class="form_control" name="jenisTA" value=2>2</label>
              </div>
            </div>
            <div class="form_group">
              <label>Dosen Pembimbing 1</label>
              <select class="form_control" name="dosenPembimbing">
                <option value="" disabled selected>Pilih dosen pembimbing</option>
                <option th:each="dosen : ${dosenList}" th:value="${dosen.nama}" th:text="${dosen.nama}"></option>
              </select>
            </div>
            <!-- <div class="form_group">
              <label>Dosen Pembimbing 2</label>
              <select class="form_control">
                <option value="" disabled selected>Pilih dosen pembimbing</option>
                <option th:each="dosenPembimbing : ${dosenList}" th:value="${dosenPembimbing.nama}" th:text="${dosenPembimbing.nama}"></option>
              </select>
            </div> -->
            <div class="form_group">
              <label>Jadwal Sidang</label>
              <input type="datetime-local" class="form_control" name="jadwal" step="1">
            </div>
            <div class="form_group">
              <label>Ruangan Sidang</label>
              <select class="form_control" name="tempat">
                <option value="" disabled selected>Pilih ruangan sidang</option>
                <option value="Ruang 101">Ruang 101</option>
                <option value="Ruang 102">Ruang 102</option>
                <option value="Ruang 103">Ruang 103</option>
                <option value="Ruang 201">Ruang 201</option>
                <option value="Ruang 202">Ruang 202</option>
                <option value="Ruang 203">Ruang 203</option>
              </select>
            </div>
            <div class="form_group">
              <label>Dosen Penguji 1</label>
              <select class="form_control" name="dosenPenguji1">
                <option value="" disabled selected>Pilih dosen penguji 1</option>
                <option th:each="dosen : ${dosenList}" th:value="${dosen.nama}" th:text="${dosen.nama}"></option>
              </select>
            </div>
            <div class="form_group">
              <label>Dosen Penguji 2</label>
              <select class="form_control" name="dosenPenguji2">
                <option value="" disabled selected>Pilih dosen penguji 2</option>
                <option th:each="dosen : ${dosenList}" th:value="${dosen.nama}" th:text="${dosen.nama}"></option>
              </select>
            </div>
            <div class="buttons-container">
              <button class="button" type="submit" value="Save">Save</button>
            </div>
        </form>
        <div th:if="${success}" th:text="${success}" style="color: green;"></div>
        <div th:if="${error}" th:text="${error}" style="color: red; text-align: center;"></div>
    </div>
</body>
</html>