<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/dashboard-admin.css}">
    <script th:src="@{/js/dashboard.js}" defer></script>
    <title>Dashboard</title>
</head>
<body>
    <header class="header halaman-utama">
        <h1 class="title">Halaman Utama</h1>
        <button class="signout-button button" onclick="window.location.href='/sista/login'">Sign Out</button>
    </header>
    
    <div class="container">
        <div class="sidang" th:each="info : ${listSidang}">
            <a class="menu-item" th:onclick="'window.location.href=\'/sista/dashboardMahasiswa/infoSidang?id=' + ${info.idsidang} + '\''">
                <div class="data">
                    <p class="judul-sidang" th:text="${info.judulTA}">Judul TA</p>
                    <p class="jenis-sidang" th:text="${info.jenisTA}">Jenis TA</p>
                    <p class="tanggal-sidang" th:text="${#dates.format(info.jadwal, 'dd/MM/yyyy')}">dd/mm/yyyy</p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>