<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style-sidang.css}">
    <title>Informasi Sidang</title>
</head>
<body>
    <header class="header">
        <div class="menu-icon"><a href="/sista/dashboardMahasiswa"><img th:src="@{/images/logo-sista.png}" class="logo"></a></div>
        <div class="title">Informasi Sidang</div>
    </header>
    <main class="container">
        <section class="information-container">
            <h2 class="section-title">Informasi Peserta</h2>

            <img th:src="@{/images/profile-picture.png}" alt="Profile Picture" class="profile-picture">

            <table>
                <tbody>
                    <tr>
                        <th>Nama</th>
                        <td id="data-nama" th:text="${sidang.namamahasiswa}"></td>
                    </tr>
                    <tr>
                        <th>NPM</th>
                        <td id="data-npm" th:text="${sidang.npm}"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td id="data-email" th:text="${sidang.email}"></td>
                    </tr>
                    <tr>
                        <th>Judul Tugas Akhir</th>
                        <td id="data-judul" th:text="${sidang.judulta}"></td>
                    </tr>
                    <tr>
                        <th>Jenis Tugas Akhir</th>
                        <td id="data-jenis" th:text="${sidang.jenista}"></td>
                    </tr>
                    <tr>
                        <th>Jadwal Sidang</th>
                        <td id="data-jadwal" th:text="${sidang.jadwal}"></td>
                    </tr>
                    <tr>
                        <th>Tempat Sidang</th>
                        <td id="data-tempat" th:text="${sidang.tempat}"></td>
                    </tr>
                    <tr>
                        <th>Dosen Pembimbing</th>
                        <td id="data-pembimbing" th:text="${sidang.pembimbingutama}"></td>
                    </tr>
                    <tr>
                        <th>Dosen Penguji 1</th>
                        <td id="data-penguji-1" th:text="${sidang.ketuapenguji}"></td>
                    </tr>
                    <tr>
                        <th>Dosen Penguji 2</th>
                        <td id="data-penguji-2" th:text="${sidang.anggotapenguji}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <div class="buttons-container">
            <a class="button" id="nilai-button">Lihat Nilai</a>
            <a class="button" id="bap-button">Lihat BAP</a>
        </div>
    </main>
</body>
</html>