<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Melihat Catatan Revisi</title>
  <link rel="stylesheet" href="stylesRevisiSidang.css">
</head>
<body>
  <div class="container">
    <!-- Header -->
    <div class="container">
        <!-- Header -->
        <div class="header">
          <div class="icon">
            <div class="icon-inner"></div>
          </div>
          <div class="title">Catatan Revisi Sidang TA</div>
        </div>
        
        <!-- Content -->
        <div class="content">
          <!-- Text Area Container -->
          <div class="text-area-container">
            <!-- Text Area -->
            <textarea id="textArea" class="input-box" disabled>
                Catatan sidang akan ditampilkan di sini
            </textarea>
          </div>
        </div>
      </div>
      
  </div>
</body>
</html>
