<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html, charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style-nilai.css}">
    <title>Nilai Sidang</title>
</head>
<body>
    <header class="header">
        <div class="menu-icon"><a href=""><img th:src="@{/images/logo-sista.png}" class="logo"></a></div>
        <div class="title">Nilai Sidang</div>
    </header>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Dosen</th>
                    <th>Nilai</th>
                    <th>Bobot</th>
                    <th>Nilai Akhir</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="nilaiAkhir : ${nilaiAkhir}">
                    <td th:text="${nilaiAkhir.namaRole}"></td>
                    <td th:text="${#numbers.formatDecimal(nilaiAkhir.nilai, 0, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${#numbers.formatDecimal(nilaiAkhir.bobot, 0, 'COMMA', 2, 'POINT') + '%'}"></td>
                    <td th:text="${#numbers.formatDecimal(nilaiAkhir.nilaiAkhir, 0, 'COMMA', 2, 'POINT')}"></td>
                </tr>
                <tr>
                    <td colspan="3">Total Nilai</td>
                    <td th:text="${#numbers.formatDecimal(totalNilai, 0, 'COMMA', 2, 'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>