body {
    font-family: "Epilogue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    width: 80%;
    max-width: 1440px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #03045E;
    margin-bottom: 20px;
} 

.header div {
    display: flex;
    align-items: center;
}

.header .back-icon {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 3px;
}

.header .title {
    color: white;
    font-size: 25px;
    font-weight: 400;
    text-align: right;
    font-family: 'Epilogue-bold', sans-serif;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    text-align: center;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #AAAAAA;
    font-size: 20px;
}

.table th {
    background-color: #f5f5f5;
}



