<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISTA Login</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="login-container">
        <div class="side-div"></div>

        <form th:action="@{/sista/login}" method="POST">
          <!-- email -->
          <div class="input-email">
            <div class="input-name">Email</div>
            <input type="email" placeholder="Masukkan email" name="email" required>
          </div>
          <!-- password -->
          <div class="input-password">
            <div class="input-name">Password</div>
            <input type="password" placeholder="Masukkan password" name="passwords" required>
          </div>
          <!-- button -->
          <div class="login-button">
            <button type="submit">Log In</button>
          </div>
          <p th:if="${error}" th:text="${error}" style="color: red;"></p>
        </form>
        
    </div>
</body>
</html>