<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, charset=UTF-8">
    <title>SISTA Login</title>
    <link rel="stylesheet" th:href="@{/css/style-login.css}">
</head>
<body>
  <div class="container">
    <div class="side-div">
      <img th:src="@{/images/logo-sista.png}" class="logo">
    </div>
    <form class="form" th:action="@{/sista/login}" method="post">
      <h2>SIGN IN</h2>
      <div class="form_group">
        <label>Email</label>
        <input type="email" class="form_control" placeholder="SISTA account" name="email" required>
      </div>
      <div class="form_group">
        <label>Password</label>
        <input type="password" class="form_control" placeholder="Password" name="passwords" required>
      </div>
      <div class="buttons-container">
        <p class="error" th:if="${error}" th:text="${error}">Please check username or password</p>
        <button class="button" type="submit" value="login">Log In</button>
      </div>
    </form>
</body>
</html>