<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Pengguna</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daftarPengguna.css}">
</head>
<body>
    <header>
        <div class="menu-icon"><a th:href="@{/sista/dashboardAdmin}"><img th:src="@{/images/logo-sista.png}" class="logo"></a></div>
        <div class="title">Daftar Pengguna</div>
    </header>
    
    <div class="container">
        
        <form method="POST" th:action="@{/sista/dashboardAdmin/daftarPengguna}">
            <div class="search-bar">
                <input type="search" class="search-input" placeholder="Cari pengguna (nomor induk) ..." name="noInduk" th:value="${noInduk}">
                <button class="search-button">
                    <img th:src="@{/images/search.png}" alt="Search Icon">
                </button>
            </div>

            <div class="dropdown role-pick">
                <select class="select" name="role" th:value="${role}" onchange="this.form.submit()">
                    <option value="" disabled selected>Pilih role:</option>
                    <option value="">Semua</option>
                    <option th:selected="${role=='Koordinator'}">Koordinator</option>
                    <option th:selected="${role=='Dosen'}">Dosen</option>
                    <option th:selected="${role=='Mahasiswa'}">Mahasiswa</option>
                </select>
            </div>
        </form>
    </div>

    <div class="error" th:if="${error != null}">
        <p th:text="${error}"></p>
    </div>

    <!-- daftar pengguna berdasarkan search noInduk -->
    <div id="list-users" th:if="${searchedUser != null}">
        <div class="users">
            <img src="/images/Profile Pict.png">
            <a th:href="@{informasiAkun?userID={id}(id=${searchedUser.noInduk})}">
                <div class="data">
                    <p class="email" th:text="${searchedUser.email}"></p>
                    <p class="role" th:text="${searchedUser.nama}"></p>
                    <p class="role" th:text="${searchedUser.role}"></p>
                </div>
            </a>
        </div>
    </div>
    
    <!-- daftar pengguna tanpa search noInduk -->
    <div id="list-users" th:if="${searchedUser == null}">
        <div class="users" th:each="u : ${users}">
            <img src="/images/Profile Pict.png">
            <a th:href="@{informasiAkun?userID={id}(id=${u.noInduk})}">
                <div class="data">
                    <p class="email" th:text="${u.email}"></p>
                    <p class="role" th:text="${u.nama}"></p>
                    <p class="role" th:text="${u.role}"></p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>