<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html, charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style-nilai.css}">
    <title>Bobot Dosen</title>
</head>
<body>
    <header class="header">
        <div class="menu-icon"><a th:href="@{/sista/dashboardKoordinator}"><img th:src="@{/images/logo-sista.png}" class="logo"></a></div>
        <div class="title">Pengaturan Bobot Dosen</div>
    </header>
    <div class="container">
        <form method="POST" action="/sista/dashboardKoordinator/saveBobotDosen">
            <table class="table">
                <thead>
                    <tr>
                        <th>Jenis TA</th>
                        <th>Role Dosen</th>
                        <th>Bobot</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="b : ${bobotDosen}">
                            <td th:text="${b.jenisTA}">Jenis TA</td>
                            <td th:text="${b.namaRole}">Dosen</td>
                            <td th:text="${b.bobot}" th:if="!${edit}">Bobot</td>
                            <td th:if="${edit}"><input type="number" th:attr="name=${'bobot' + b.idBobot}" th:value="${b.bobot}"></td>
                    </tr>
                <tbody>
            </table>

            <div class="buttons-container">
                <a th:if="!${edit}" class="button" onclick="window.location.href='/sista/dashboardKoordinator/editBobotDosen'">Edit</a>
                <a th:if="${edit}" class="button" onclick="window.location.href='/sista/dashboardKoordinator/bobotDosen'">Cancel</a>
                <button th:if="${edit}" type="submit" class="button">Save</button>
                <a class="button" onclick="window.location.href='/sista/dashboardKoordinator/komponenNilai'">Komponen Nilai</a>
            </div>
        </form>
    </div>
</body>
</html>