<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/dashboardDosen.css}">
    <script src="../js/dashboard.js" defer></script>
    <title>Dashboard</title>
</head>
<body>
    <div class="dashboard">

        <!-- Sidang Container -->
        <div class="sidang-container" th:if="${showContainer}">
            <div th:each="sidang : ${listSidang}">
                <button class="sidang-item" th:onclick="'window.location.href=\'/sista/dashboardDosen/infoSidang?id=' + ${sidang.idsidang} + '\''">
                    <div class="nama-peserta-sidang" th:text="${sidang.nama}">Nama Peserta Sidang</div>
                    <div class="tanggal-sidang" th:text="${#dates.format(sidang.jadwal, 'dd/MM/yyyy')}">dd/mm/yyyy</div>
                </button>
            </div>
        </div>
        
        <!-- Error Message -->
        <div class="error-message" th:if="${error}" th:text="${errorMessage}" style="color: red;"></div>
        
        <!-- Role Selection Form -->
        <form class="lihat-sidang-form" th:action="@{/sista/dashboardDosen/lihatSidang}" method="post">
            <div class="role-pick">
                <select class="select-an-option" name="pickRole">
                    <option value="" disabled selected>Lihat sebagai:</option>
                    <option value="1">Penguji</option>
                    <option value="2">Pembimbing</option>
                </select>
            </div>
            <button class="lihat-sidang-button">Lihat Sidang</button>
        </form>
    </div>
    <!-- Header -->
    <div class="halaman-utama">Halaman Utama
        <!-- Button for showing sidang container -->
        <button class="signout-button" onclick="window.location.href='dashboardDosen/logout'">Sign Out</button>
    </div>
</body>
</html>
