<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <script src="@{/js/dashboard.js}" defer></script>
    <title>Dashboard</title>
</head>
<body>
    <header class="header halaman-utama">
        <h1 class="title">Halaman Utama</h1>
        <button class="daftarkan-sidang-button button" th:onclick="window.location.href='/sista/dashboardKoordinator/daftarSidang'">Daftarkan Sidang Baru</button>
        <button class="komponen-nilai-button button" th:onclick="window.location.href='/sista/dashboardKoordinator/komponenNilai'">Komponen Nilai</button>
        <button class="signout-button button" th:onclick="window.location.href='/sista/login'">Sign Out</button>
    </header>
    
    <div class="container">
        <div class="error-message" th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>

        <form class="lihat-sidang-form" th:action="@{/sista/dashboardKoordinator/lihatSidang}" method="POST">
            <div class="dropdown role-pick">
                <select class="select" name="pickRole">
                    <option value="" disabled selected>Lihat sebagai:</option>
                    <option value=1>Penguji</option>
                    <option value=2>Pembimbing</option>
                </select>
                <button class="button" type="submit">Lihat Sidang</button>
            </div>
        </form>
        
        <div class="sidang-container" th:classappend="${showContainer} ? '' : 'hidden'">
            <div class="sidang" th:each="info : ${listSidang}">
                <button class="menu-item" th:onclick="'window.location.href=\'/sista/dashboardKoordinator/infoSidang?id=' + ${info.id} + '\''">
                    <p class="nama-peserta-sidang title" th:text="${info.nama}">Nama Peserta Sidang</p>
                    <p class="tanggal-sidang subtitle" th:text="${#dates.format(info.jadwal, 'dd/MM/yyyy')}">dd/mm/yyyy</p>
                </button>
            </div>
        </div>
    </div>
</body>
</html>