<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style-sidang.css}">
    <title>Informasi Sidang</title>
</head>
<body>
    <header class="header">
        <div class="menu-icon"><a th:href=""><img th:src="@{/images/logo-sista.png}" class="logo"></a></div>
        <div class="title">Informasi Sidang</div>
    </header>
    <main class="container">
        <section class="information-container">
            <h2 class="section-title">Informasi Peserta</h2>

            <img th:src="@{/images/profile-picture.png}" alt="Profile Picture" class="profile-picture">

            <table>
                <tbody>
                <tr>
                    <th>Nama</th>
                    <td th:text="${sidangTA.nama}">John Doe</td>
                </tr>
                <tr>
                    <th>NPM</th>
                    <td th:text="${sidangTA.npm}">123456789</td>
                </tr>
                <tr>
                    <th>Judul Tugas Akhir</th>
                    <td th:text="${sidangTA.judulTA}">Sistem Informasi Akademik</td>
                </tr>
                <tr>
                    <th>Jenis Tugas Akhir</th>
                    <td th:text="${sidangTA.jenisTA}"></td>
                </tr>
                <tr>
                    <th>Jadwal Sidang</th>
                    <td th:text="${sidangTA.jadwal}"></td>
                </tr>
                <tr>
                    <th>Tempat Sidang</th>
                    <td th:text="${sidangTA.tempat}">/td>
                </tr>
                <tr>
                    <th>Dosen Pembimbing Utama</th>
                    <td th:text="${sidangTA.dosenPembimbing1}"></td>
                </tr>
                <tr>
                    <th>Dosen Pembimbing Tambahan</th>
                    <td th:text="${sidangTA.dosenPembimbing2}"></td>
                </tr>
                <tr>
                    <th>Ketua Dosen Penguji</th>
                    <td th:text="${sidangTA.dosenPenguji1}"></td>
                </tr>
                <tr>
                    <th>Anggota Dosen Penguji</th>
                    <td th:text="${sidangTA.dosenPenguji2}"></td>
                </tr>
                </tbody>
            </table>
        </section>
        <div class="buttons-container">
            <a class="button" id="nilai-button">Edit Sidang</a>
            <a class="button" id="nilai-button">Kelola Nilai</a>
            <a class="button" id="bap-button">Lihat BAP</a>
        </div>
    </main>
</body>
</html>