<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/infoSidang.css}">
    <title>Informasi </title>
</head>
<body>
    <header class="header">
        <button class="back-button" aria-label="Back">
            <img src="keyboard-return0.svg" alt="Back">
        </button>
        <h1 class="page-title">Informasi Sidang</h1>
    </header>
    <main class="container">
        <section class="informasi-container">
            <h2 class="section-title">Informasi Peserta</h2>

            <!-- Profile Picture -->
            <img src="../images/Profile Pict.png" alt="Profile Picture" class="profile-picture">

            <table>
                <tbody>
                <tr>
                    <th>Nama</th>
                    <td th:text="${sidang.namamahasiswa}">John Doe</td>
                </tr>
                <tr>
                    <th>NPM</th>
                    <td th:text="${sidang.npm}">123456789</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td th:text="${sidang.email}">johndoe@example.com</td>
                </tr>
                <tr>
                    <th>Judul Tugas Akhir</th>
                    <td th:text="${sidang.judulta}">Sistem Informasi Akademik</td>
                </tr>
                <tr>
                    <th>Jenis Tugas Akhir</th>
                    <td th:text="${sidang.jenista}"></td>
                </tr>
                <tr>
                    <th>Jadwal Sidang</th>
                    <td th:text="${sidang.jadwal}"></td>
                </tr>
                <tr>
                    <th>Tempat Sidang</th>
                    <td th:text="${sidang.tempat}">/td>
                </tr>
                <tr>
                    <th>Dosen Pembimbing</th>
                    <td th:text="${sidang.pembimbingutama}"></td>
                </tr>
                <tr>
                    <th>Dosen Pembimbing Tambahan</th>
                    <td th:text="${sidang.pembimbingtambahan}"></td>
                </tr>
                <tr>
                    <th>Dosen Penguji 1</th>
                    <td th:text="${sidang.ketuapenguji}"></td>
                </tr>
                <tr>
                    <th>Dosen Penguji 2</th>
                    <td th:text="${sidang.anggotapenguji}"></td>
                </tr>
                </tbody>
            </table>
        </section>
        <div class="action-buttons">
            <button class="action-button">Kelola Nilai</button>
            <button class="action-button">Lihat BAP</button>
        </div>
    </main>
</body>
</html>