<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html, charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style-nilai.css}">
    <title>Komponen Bobot Nilai</title>
</head>
<body>
    <header class="header">
        <div class="menu-icon"><a th:href="@{/sista/dashboardKoordinator}"><img th:src="@{/images/logo-sista.png}" class="logo"></a></div>
        <div class="title">Pengaturan Komponen dan Bobot Nilai</div>
    </header>
    <div class="container">
        <form method="POST">
            <div th:text="${error}" style="color:red;"></div>
            <table class="table">
                <thead>
                    <tr>
                        <td th:if="${edit}" style="border:none;"></td>
                        <th>Komponen</th>
                        <th>Bobot Penguji</th>
                        <th>Bobot Pembimbing</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="k : ${komponenNilai}">
                        <td th:if="${edit}" style="border:none;">
                            <button type="submit" th:formaction="|/sista/dashboardKoordinator/deleteKomponenNilai?idKomp=${k.idKomp}|" class="deleteBtn">
                                <img src="/images/icon_delete.png" class="iconDelete">
                            </button>
                        </td>
                        <td th:if="!${edit}" th:text="${k.komponen}">Komponen Nilai</td>
                        <td th:if="!${edit}" th:text="${k.bobotPenguji}">Bobot Penguji</td>
                        <td th:if="!${edit}" th:text="${k.bobotPembimbing}">Bobot Pembimbing</td>
                        
                        <!-- edit -->
                        <td th:if="${edit}"><input type="text" th:attr="name=${'kompNilai' + k.idKomp}" th:value="${k.komponen}"></td>
                        <td th:if="${edit}"><input type="number" th:attr="name=${'bobotPenguji' + k.idKomp}" th:value="${k.bobotPenguji}"></td>
                        <td th:if="${edit}"><input type="number" th:attr="name=${'bobotPembimbing' + k.idKomp}" th:value="${k.bobotPembimbing}"></td>
                    </tr>           
                    
                    <!-- input komponen baru -->
                    <tr th:if="${edit}">
                        <td style="border:none;"></td>
                        <td><input type="text" name="komponen" placeholder="komponen"></td>
                        <td><input type="text" name="bobotPenguji" placeholder="bobotPenguji"></td>
                        <td><input type="text" name="bobotPembimbing" placeholder="bobotPembimbing"></td>
                        <td style="border: none;">
                            <button type="submit" formaction="/sista/dashboardKoordinator/addKomponenNilai" class="addBtn">
                                <img src="/images/icon_add.png" class="iconAdd">
                            </button>
                        </td>
                    </tr>
                <tbody>
            </table>
            <div class="buttons-container">
                <a th:if="!${edit}" class="button" onclick="window.location.href='/sista/dashboardKoordinator/editKomponenNilai'">Edit</a>
                <a th:if="${edit}" class="button" onclick="window.location.href='/sista/dashboardKoordinator/komponenNilai'">Cancel</a>
                <button th:if="${edit}" type="submit" class="button" formaction="/sista/dashboardKoordinator/saveKomponenNilai">Save</button>
                <a class="button" onclick="window.location.href='/sista/dashboardKoordinator/bobotDosen'">Bobot Dosen</a>
            </div>
        </form>
    </div>
</body>
</html>