<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, charset=UTF-8">
  <title>Mendaftarkan Sidang</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script>
    function goToPreviousPage() {
      window.location.href = 'RegistrasiTA.html';
    }
  </script>
</head>

<body>
  <header class="header">
    <div class="menu-icon"><a href=""><img th:src="@{/images/logo-sista.png}" class="logo"></a></div>
    <div class="title">Mendaftarkan Sidang</div>
  </header>
  
  <div class="container">
    <form class="form" action="#" th:object="${sidangTA}">
      <div class="form_group">
        <label>Nama Peserta</label>
        <input type="text" class="form_control" th:field="*{nama}" name="nama" required>
        <span class="error" th:if="${fields.hasErrors('nama')}" th:errors="*{nama}"></span>
      </div>
      <div class="form_group">
        <label>Nomor Pokok Mahasiswa</label>
        <input type="text" class="form_control" th:field="*{npm}" required>
        <span class="error" th:if="${fields.hasErrors('npm')}" th:errors="*{npm}"></span>
      </div>
      <div class="form_group">
        <label>Judul Tugas Akhir</label>
        <input type="text" class="form_control" th:field="*{judulTA}" required>
        <span class="error" th:if="${fields.hasErrors('judulTA')}" th:errors="*{judulTA}"></span>
      </div>
      <div class="form_group">
        <label>Jenis Tugas Akhir</label>
        <div class="radio_group" th:field="*{jenisTA}">
          <label><input type="radio" class="form_control" name="jenista" value="1" th:checked="*{jenisTA} == 1">1</label>
          <label><input type="radio" class="form_control" name="jenista" value="2" th:checked="*{jenisTA == 2}">2</label>
        </div>
        <span class="error" th:if="${fields.hasErrors('jenisTA')}" th:errors="*{jenisTA}"></span>
      </div>
      <div class="form_group">
        <label>Dosen Pembimbing 1</label>
        <select class="form_control" th:field="*{dosenPembimbing1}">
          <option value="" disabled selected>Pilih ruangan sidang</option>
          <option th:each="dosen : ${dosenList}" th:value="${dosen.nip}" th:text="${dosen.nama}"></option>
        </select>
      </div>
      <div class="form_group">
        <label>Dosen Pembimbing 2</label>
        <select class="form_control" th:field="*{dosenPembimbing2}">
          <option value="" disabled selected>Pilih ruangan sidang</option>
          <option th:each="dosen : ${dosenList}" th:value="${dosen.nip}" th:text="${dosen.nama}"></option>
        </select>
      </div>
      <div class="form_group">
        <label>Jadwal Sidang</label>
        <input type="datetime-local" class="form_control" th:field="*{jadwal}" name="jadwal">
        <span class="error" th:if="${fields.hasErrors('jadwal')}" th:errors="*{jadwal}"></span>
      </div>
      <div class="form_group">
        <label>Ruangan Sidang</label>
        <select class="form_control" name="tempat" th:field="*{tempat}">
          <option value="" disabled selected>Pilih ruangan sidang</option>
          <option th:each="tempat : ${tempatList}" th:value="${tempat}" th:text="${tempat}"></option>
        </select>
      </div>
      <div class="form_group">
        <label>Dosen Penguji 1</label>
        <select class="form_control" th:field="*{penguji1}">
          <option value="" disabled selected>Pilih ruangan sidang</option>
          <option th:each="penguji : ${pengujiList}" th:value="${penguji.nip}" th:text="${penguji.nama}"></option>
        </select>
      </div>
      <div class="form_group">
        <label>Dosen Penguji 2</label>
        <select class="form_control" th:field="*{penguji2}">
          <option value="" disabled selected>Pilih ruangan sidang</option>
          <option th:each="penguji : ${pengujiList}" th:value="${penguji.nip}" th:text="${penguji.nama}"></option>
        </select>
      </div>
    </form>
    
    <div class="buttons-container">
      <button class="button" onclick="goToPreviousPage()">Previous</button>
      <input class="button" type="submit" value="Save">
     </div>
  </div>
</body>
</html>